<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin/product/add">Add New Product <br></a>
    <% for(let product of products){ %>
        <%- `${product.title} - Php${product.price} - ${product.stock}pc/s <a href="/admin/product/edit/${product._id}">Edit</a> ` %>  
        <%- '<br>' %> 
     <% } %>  
</body>
</html>