<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <form method="POST">
        <% if(errors==='none'){ %>
            <%- `
                <input type="text" name="email" id="email"><br>
                <input type="password" name="password" id="password"><br>
            ` %> 
        <% }else{ %>  
            <%- `
                <input type="text" name="email" id="email" value="${errors.email.value}">
                <label>${errors.email.msg}</label><br>
                <input type="password" name="password" id="password">
                <label>${errors.password.msg}</label><br>
            ` %> 
            <% } %> 
        <input type="submit">
    </form>
</body>
</html>