<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <form method="POST">
        <div>
            <input type="text" name="email" id="email" placeholder="email" value="<%= ((typeof(errors)==='undefined')?(''):((typeof(errors.email)==='undefined')?(''):(errors.email.value))) %>">
            <label><%= ((typeof(errors)==='undefined')?(''):((typeof(errors.email)==='undefined')?(''):(errors.email.msg))) %></label>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="password">
            <label><%= (typeof(errors)==='undefined'?'':errors.password.msg) %></label>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>

</html>