<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    
        <% for(let product of products){ %> 
            <div>
                <a href="/product/<%= product._id %>">
                    <img src="<%= product.img %>" height="200px" alt="">
                    <p><%= product.title %> </p>
                    <b>₱<%= product.price %> </b>
                </a>
            </div>
        <% } %> 
    
</body>
</html>