<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <div>   
        <img src="<%= product.img %>" height="200px" alt="">
        <p><%= product.title %> </p>
        <b>₱<%= product.price %> </b>
        <%- product.desc %> 
        <% if(product.stock === 0){ %>
            <b>OUT OF STOCK</b> 
        <% }else{ %> 
            <b>AVAILABLE</b>
        <% } %> 
    </div>
</body>
</html>