.row-bg{
    background-color: white;
}

img.product-img{
    margin-left: 20px;
    width: 18rem;
}

.product-price{
    height: 20%;
}

.product-price h2{
    float: left;
    height: 100%;
}
.product-price b{
    float: left;
    margin-left: 2%;
    height: 100%;
    padding-top:1%;  
}

input.number-input[type=number]{
    width: 10%;
}